<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>双色球</string>
				<key>subTitle</key>
				<string>双色球每周2.4.6开奖</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>cellStyle</key>
				<string>subtitle</string>
				<key>switchKey</key>
				<string>pushLottery_01</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>大乐透</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>subTitle</key>
				<string>双色球每周2.4.6开奖</string>
				<key>cellStyle</key>
				<string>subtitle</string>
				<key>switchKey</key>
				<string>pushLottery_02</string>
			</dict>
			<dict>
				<key>icon</key>
				<string></string>
				<key>title</key>
				<string>六合彩</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>subTitle</key>
				<string>双色球每周2.4.6开奖</string>
				<key>cellStyle</key>
				<string>subtitle</string>
				<key>switchKey</key>
				<string>pushLottery_03</string>
			</dict>
		</array>
		<key>header</key>
		<string>因为我刚好遇见你</string>
		<key>footer</key>
		<string>可惜我是水瓶座</string>
	</dict>
</array>
</plist>
